/*@import "../variables/variables";

body{
    @if $vista == desktop {
        @media only screen and (max-width: 1024px){
            h1{
                font-size: $h1Desktop;
            }
            h3{
                font-size: 35px;
            }
            p{
                font-size: $parrafoDesktop;
            }
        }
    } @else if $vista == mobile{
        @media only screen and (max-width: 767px) {
            h1{
                font-size: $h1Mobile;
            }
            h3{
                font-size: 25px;
            }
            p{
                font-size: $parrafoMobile;
            }
        }
    }
}*/
.header-footer, header, footer {
  background-color: #eca50a;
  width: 100%;
  font-family: verdana;
  font-size: 20px; }

/*@import "../variables/variables";

$redes: (
    color: $blue,
    centro: $alinear-al-centro,
    fSize: $size,
    ancho: 16px, 
);

div{
    background-color: map-get($redes, color);
    width: map-get($redes, ancho);

}*/
/*@import "../variables/variables";

.box_uno{
    background-color: $blue;
    width: $ancho/2;
    }

.box_dos{
    background-color: $green;
    width: ($ancho/2)-25%;
}*/
.header-footer, header, footer {
  background-color: #eca50a;
  width: 100%;
  font-family: verdana;
  font-size: 20px; }

header nav {
  display: flex;
  justify-content: space-between; }
  header nav a {
    text-decoration: none;
    font-family: verdana; }

.header-footer, header, footer {
  background-color: #eca50a;
  width: 100%;
  font-family: verdana;
  font-size: 20px; }

section {
  width: 100%; }
  section article {
    width: 100%; }
    section article p {
      font-family: verdana;
      line-height: 1.5;
      font-style: italic;
      font-weight: bold;
      text-align: center; }

.header-footer, header, footer {
  background-color: #eca50a;
  width: 100%;
  font-family: verdana;
  font-size: 20px; }

footer {
  display: flex;
  justify-content: space-between; }
  footer a {
    text-decoration: none;
    font-family: verdana; }

* {
  margin: 0;
  padding: 0; }
